@font-face{
    font-family: "Britany";
    src: url(font/WordSignature.ttf);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('.\\image\\background\\5574873.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}
header {
    background: #660033;
    color: #ffffff;
    text-align: center;
    overflow-y: auto;
    position: sticky;
    top: 0;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.header-title {
    font-family: "Britany"; /* Apply custom font to this specific class */
    font-size: 150px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background: rgba(221, 82, 82, 0.3); /* Adjust opacity as needed */
    cursor: default;
    user-select: none;
}

.monogram-image {
    height: 100%;
    max-height: 100px;
    width: 100%x;
}

.container {
    width: 95%;
    margin: auto;
    overflow: hidden;
    padding: 10px;
    background: rgba(255, 255, 255, 0.3); /* Adjust opacity as needed */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #ffffff;
}


h2 {
    background-color: #35424a;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    margin: 0;
    text-align: center;
    transition: background-color 0.3s;
}
/* Style for the section container */
.section {
    margin-bottom: 5px; /* Space between sections */
}

/* Style for the h3 headers */
h3 {
    background-color: #35424a;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    margin: 0;
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Vertically center the items */
    position: relative; /* Ensure proper positioning of the icon */
    padding-left: 80px; /* Space for the icon */
}

/* Style for the section icon */
.section-icon {
    position: absolute; /* Position absolutely within the header */
    left: 15px; /* Space from the left edge */
    width: 35px; /* Adjust size as needed */
    height: 35px; /* Adjust size as needed */
}

/* Ensure content sections are handled correctly */
.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.content.expanded {
    max-height: 1000px; /* Arbitrarily large value to allow for expansion */
}

/* Responsive adjustments */
@media (max-width: 600px) {
    h3 {
        padding-left: 80px; /* Adjust space for the icon on smaller screens */
        font-size: 1rem; /* Reduce text size for smaller screens */
    }
    .section-icon {
        width: 30px; /* Reduce icon size for smaller screens */
        height: 30px; /* Reduce icon size for smaller screens */
    }
}


.responsive-iframe {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    max-height: 500px; /* Maximum height constraint */
    overflow: hidden;
}

.responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; 
}

#videoPrenup iframe {
    max-height: 420px; /* Ensure the iframe doesn't exceed this height */
}

#einvite iframe {
    max-height: 750px; /* Ensure the iframe doesn't exceed this height */
}


footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #35424a;
}

.play-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #35424a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.countdown-container {
    text-align: center;
    margin: 20px 0;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1em; /* Adjust size as needed */
}

.time-unit {
    text-align: center;
    padding: 10px;
    background: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 35px; /* Increased to accommodate time value and label */
    max-width: 60px; /* Adjust based on your design */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-value {
    font-size: 1.5em; /* Adjust size as needed */
}

.time-label {
    margin-top: 5px;
    font-size: 0.8em;
    color: #35424a;
}

.divider {
    padding: 0 10px;
    font-size: 1.5em; /* Increase size for better visibility */
    color: #ffffff; /* Adjust the color to match the theme */
    font-weight: bold; /* Make it bold for better emphasis */
    text-shadow: 0px 0px 2px #dad5d5; /* Add a subtle shadow for contrast */
}